<!DOCTYPE html>
<html>
    <head>
        <title>Emerging methods of early forest fire detection</title>
        <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
        <script src="https://kit.fontaweome.com/a9365d9272.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header><h2> Emerging Methods for Early Detection of Forest Fires</h2></header>
       <nav>
        <div class="container">
        <ul class="dropdown">
            <li><a href="#">Home</a></li>
           
            <li><a href="#">About Us &dtrif;</a>
            <ul class="Aboutus">
                <li><a href="//wa.me/918056867362">Whatsapp</a></li>
                <li><a href="mailto:2k19cse081@kiot.ac.in">E-mail</a></li>
            </li> </ul>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/sign-up.html">sign-up</a></li>
        </ul></div></nav>
        <div>
            <h1> Forest fire</h1>
            <p>Forest fires area major environmental issue, creating economic and ecological damage while endangering human lives. There are typically about 100,000 wildfires in the United States every year. Over 9 million acres of land have been destroyed due to treacherous wildfires. It is difficult to predict and detect Forest Fire in a sparsely populated forest area and it is more difficult if the prediction is done using ground-based methods like Camera or Video-Based approach. Satellites can be an important source of data prior to and also during the Fire due to its reliability and efficiency. The various real-time forest fire detection and prediction approaches, with the goal of informing the local fire authorities.</p>
        </div>
        <div>
            <a href="{{url_for('upload')}}" class="button">predict fire</a>
        </div>
    </body>
</html>